@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  ---bg: #020617;
  ---txt: #ffffff;
}

body {
  background-color: var(---bg);
  color: var(---txt);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

html{
  scroll-behavior: smooth;
 
}



