@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
<<<<<<< HEAD
  ---bg: #020617;
  ---txt: #ffffff;
}

body {
  background-color: var(---bg);
  color: var(---txt);
  user-select: none;
=======
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
>>>>>>> 1a1e4154e3aa88d34a6c5c024c35c44d5e8ab64a
}
